# PORTS:
# 3000 (cafe service)
# 3100 (auth service)
# 3200 (realtime service)
# 4200 (frontend)

# General
APP_ENV=local
LEVEL=debug

# Auth
ACCESS_TOKEN_SECRET=access-token-secret
REFRESH_TOKEN_SECRET=refresh-token-secret
PRIVATE_SHARED_API_KEY=private-shared-api-key
PUBLISHED_SHARED_API_KEY=published-shared-api-key

# Logging
REDACTED_REGEX="/jwt=[A-Za-z0-9.+=-]+/i,/Bearer [A-Za-z0-9.+=-]+/i"
REDACTED_KEYS=password,username,accessTokenSecret,refreshTokenSecret,jwt,x-internal-api-key

# Realtime Gateway
REALTIME_GATEWAY_ENDPOINT_URL=http://localhost:3200
REALTIME_GATEWAY_PATH=/socket.io
CORS_ORIGINS=http://localhost:4200

# AWS
AWS_ENDPOINT_URL=http://localhost:8000
AWS_DEFAULT_REGION=dummy-region
AWS_SECRET_ACCESS_KEY=dummysecretkey
AWS_ACCESS_KEY_ID=dummyaccesskey

# Stripe
STRIPE_BASE_URL=http://localhost:4242
STRIPE_SECRET_KEY=sk_test_mock

# Brevo
BREVO_BASE_URL=http://localhost:9000
BREVO_API_KEY=replace-api-key-here
BREVO_TRANSACTIONAL_SMS_PATH=/v3/transactionalSMS/send
SMTP_CONFIG='{"host":"localhost","port":1025,"secure":false}'
