.form-group {
  margin-block-end: 1rem;

  input[type="radio"] {
    margin-inline-start: 0.5rem;
  }
}

.button-group {
  display: flex;
  justify-content: end;

  button {
    margin-inline-start: 1rem;
  }
}
