<div class="row mt-5">
  <div class="col-12">
    <lib-paginated
      [totalItems]="pageable().totalItems || 0"
      [pageSize]="pageable().pageSize"
      [(page)]="currentPage"
    ></lib-paginated>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <table class="table">
      <tbody>
        @if (displayItems()) {
          @for (order of orderDetails(); track order.order.csid) {
            <tr>
              <td>
                <span [ngbTooltip]="order.order.csid">
                  {{ order.order.customerName }}
                </span>
              </td>
              <td>
                {{ order.order.customerMobile | formatPhoneNumber }}
              </td>
              <td>
                {{ order.order.customerEmail }}
              </td>
              <td>
                {{ order.order.createdAt | date: "short" }}
              </td>
              @if (displayTimer()) {
                <td>
                  <app-count-timer [startTime]="order.order.createdAt" />
                </td>
              }
              <td>
                @if (userService.hasPermission("ORDER_COMPLETE")) {
                  <button
                    class="btn btn-outline-primary btn-sm me-2"
                    (click)="completeOrder(order.order.csid)"
                  >
                    Complete
                  </button>
                }
                @if (userService.hasPermission("ORDER_CANCEL")) {
                  <button
                    class="btn btn-outline-danger btn-sm"
                    (click)="openCancelOrderModal(order.order.csid)"
                  >
                    Cancel
                  </button>
                }
              </td>
            </tr>
            <tr>
              <td [attr.colspan]="displayTimer() ? 6 : 5">
                @for (item of order.items; track item.id) {
                  <div class="row item-row">
                    <div class="col-1 qty">
                      {{ item.quantity }}
                    </div>
                    <div class="col-1 img">
                      <img alt="coffee" [src]="item.price.product.images[0]" />
                    </div>
                    <div class="col-10 desc">
                      {{ item.description }}
                    </div>
                  </div>
                }
              </td>
            </tr>
          }
        } @else {
          @for (order of orders(); track order.csid) {
            <tr>
              <td [ngbTooltip]="order.csid">
                {{ order.customerName }}
              </td>
              <td>
                {{ order.customerMobile | formatPhoneNumber }}
              </td>
              <td>
                {{ order.customerEmail }}
              </td>
              <td>
                {{ order.createdAt | date: "short" }}
              </td>
              @if (displayTimer()) {
                <td>
                  <app-count-timer [startTime]="order.createdAt" />
                </td>
              }
              <td>
                @if (userService.hasPermission("ORDER_COMPLETE")) {
                  <button
                    class="btn btn-outline-primary btn-sm me-2"
                    (click)="completeOrder(order.csid)"
                  >
                    Complete
                  </button>
                }
                @if (userService.hasPermission("ORDER_CANCEL")) {
                  <button
                    class="btn btn-outline-danger btn-sm"
                    (click)="openCancelOrderModal(order.csid)"
                  >
                    Cancel
                  </button>
                }
              </td>
            </tr>
          }
        }
      </tbody>
    </table>
  </div>
</div>

<ng-template
  #cancelOrderConfirmationTemplate
  let-modal
  let-csid="selectedOrderCsid"
>
  <div class="modal-header">
    <h5 class="modal-title">Cancel Order</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
      (click)="modal.close()"
    ></button>
  </div>
  <div class="modal-body">Are you sure you want to cancel this order?</div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary"
      data-bs-dismiss="modal"
      (click)="modal.close()"
    >
      Close
    </button>
    <button
      type="button"
      class="btn btn-danger"
      (click)="cancelOrder(csid); modal.close()"
    >
      Cancel Order
    </button>
  </div>
</ng-template>
