<div class="row mt-5">
  <div class="col-12">
    <lib-paginated
      [totalItems]="pageable().totalItems || 0"
      [pageSize]="pageable().pageSize"
      [(page)]="currentPage"
    ></lib-paginated>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <table class="table">
      <tbody>
        @if (displayItems()) {
          @for (order of orderDetails(); track order.order.csid) {
            <tr>
              <td>
                <span [ngbTooltip]="order.order.csid">
                  {{ order.order.customerName }}
                </span>
              </td>
              <td>
                {{ order.order.customerMobile | formatPhoneNumber }}
              </td>
              <td>
                {{ order.order.customerEmail }}
              </td>
              <td>
                {{ order.order.createdAt | date: "short" }}
              </td>
              @if (displayTimer()) {
                <td>
                  <app-count-timer [startTime]="order.order.createdAt" />
                </td>
              }
            </tr>
            <tr>
              <td [attr.colspan]="displayTimer() ? 5 : 4">
                @for (item of order.items; track item.id) {
                  <div class="row item-row">
                    <div class="col-1 qty">
                      {{ item.quantity }}
                    </div>
                    <div class="col-1 img">
                      <img alt="coffee" [src]="item.price.product.images[0]" />
                    </div>
                    <div class="col-10 desc">
                      {{ item.description }}
                    </div>
                  </div>
                }
                <!-- <ul>
                  @for (item of order.items; track item.id) {
                    <li>{{ item.quantity }} x {{ item.description }}</li>
                  }
                </ul> -->
              </td>
            </tr>
          }
        } @else {
          @for (order of orders(); track order.csid) {
            <tr>
              <td [ngbTooltip]="order.csid">
                {{ order.customerName }}
              </td>
              <td>
                {{ order.customerMobile | formatPhoneNumber }}
              </td>
              <td>
                {{ order.customerEmail }}
              </td>
              <td>
                {{ order.createdAt | date: "short" }}
              </td>
              @if (displayTimer()) {
                <td>
                  <app-count-timer [startTime]="order.createdAt" />
                </td>
              }
            </tr>
          }
        }
      </tbody>
    </table>
  </div>
</div>
