td {
  // align-items: center;
  vertical-align: middle;
}

.item-row {
  margin-bottom: 10px;

  .qty {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
  }

  .img {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 1.6rem;
      height: 1.6rem;
      object-fit: cover;
      object-position: center;
      border-radius: 50%;
    }
  }

  .desc {
    display: flex;
    align-items: center;
    font-style: italic;
  }
}
