<div class="container p-3">
  <section class="header">
    @if (userService.isLoggedInSignal()) {
      <a routerLink="/logout">Logout</a> |
      <a routerLink="/change-password">Change Password</a> |
      <a routerLink="/dashboard">Dashboard</a> |
      <a routerLink="/user-logs">User Service Logs</a> |
      <a routerLink="/user-management">User Management</a> |
      <a routerLink="/toast-test">Toast Test</a> |
      <a routerLink="/orders-test">Orders Test</a>
    } @else {
      <a routerLink="/login">Login</a>
    }
  </section>
</div>

<div class="content-wrapper">
  <section class="content">
    <router-outlet />
  </section>
</div>

<lib-toasts></lib-toasts>

<ng-template #newOrderToast let-data>
  <div class="toast-header">
    <strong class="me-auto"
      >New Order from {{ data.metadata.customerName }}</strong
    >
  </div>
  <div class="toast-body">
    @if (data.metadata.customerMobile) {
      <div>Mobile: {{ data.metadata.customerMobile }}</div>
    }
    @if (data.metadata.customerEmail) {
      <div>Email: {{ data.metadata.customerEmail }}</div>
    }
    @for (item of data.items; track $index) {
      <div>{{ item.description }} x {{ item.quantity }}</div>
    }
  </div>
</ng-template>
