<span
  class="timer-clock badge {{ size() }}"
  [ngClass]="{
    'bg-light': elapsed().totalSeconds < 300,
    'bg-warning-subtle':
      elapsed().totalSeconds >= 300 && elapsed().totalSeconds < 600,
    'bg-danger-subtle': elapsed().totalSeconds >= 600,
    'text-dark': elapsed().totalSeconds < 300,
    'text-warning-emphasis':
      elapsed().totalSeconds >= 300 && elapsed().totalSeconds < 600,
    'text-danger-emphasis': elapsed().totalSeconds >= 600,
    border: elapsed().totalSeconds < 300,
    'border-warning':
      elapsed().totalSeconds >= 300 && elapsed().totalSeconds < 600,
    'border-danger': elapsed().totalSeconds >= 600,
  }"
>
  <i class="bi bi-clock me-1"></i>
  <span>{{ elapsed().formatted }}</span>
</span>
